<ion-view title="Edit Profile" cache-view="false">
  <ion-content class="padding">
    <form ng-submit="editContact(contact)"
          promise-btn>
      <small><strong>Name</strong></small>
      <label class="item item-input">
        <input type="text" placeholder="First"
               ng-model="contact.first_name"><br/>
        <input type="text" placeholder="Last"
               ng-model="contact.last_name">
      </label><br/>
      <small><strong>Mobile Phone</strong></small>
      <label class="item item-input">
        <input type="tel" placeholder="XXX-XXX-XXXX"
               ng-model="contact.phone_number">
      </label><br/>
      <small><strong>Address</strong></small>
      <label class="item item-input">
        <input type="text" placeholder="Address Line 1"
               ng-model="contact.address_1">
      </label></br>
      <label class="item item-input">
        <input type="text" placeholder="Address Line 2"
               ng-model="contact.address_2">
      </label></br>
      <label class="item item-input">
        <input type="text" placeholder="City" ng-model="contact.city">
        <input type="text" placeholder="State" ng-model="contact.state">
        <input type="tel" placeholder="Zip" ng-model="contact.zip_code">
      </label><br/>
      <input type="hidden" ng-model="contact.uid">
      <button type="submit" ion-button round>Save</button>
    </form>
  </ion-content>
</ion-view>
