<ion-view title="{{friend.first_name}} {{friend.last_name}}" cache-view="false">
  <ion-content has-header="true" padding="true">
    <ion-list>
      <ion-item>
        <small><strong>Name</strong></small><br />
        {{friend.first_name}} {{friend.last_name}}
      </ion-item>
      <ion-item>
        <small><strong>Mobile Phone</strong></small><br />
        <i class="icon icon ion-call" style="color:green"></i><a href="{{telephoneLink}}">{{formattedPhone}}</a>
      </ion-item>
      <ion-item>
        <small><strong>Email Address</strong></small><br />
        {{friend.email_address}}
      </ion-item>
      <ion-item>
        <small><strong>Address</strong></small><br />
        {{friend.address_1}}<br />
        {{friend.address_2 || ""}}<br />
        {{friend.city}}, {{friend.state}} {{friend.zip_code}}
      </ion-item>
      <ion-item>
        <small><strong>Notes</strong></small><br />
        {{friend.freeform_notes}}
      </ion-item>
    </ion-list>
    <h4>{{friend.first_name}} has {{friend.outdegree}} direct contacts
      and {{friend.network_size}} people in their network.</h4>
    <form ng-submit="invite()">
      <button ion-button round>Resend invite</button> <br />
    </form>
  </ion-content>
</ion-view>
